In [75]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

<h3>Preprocessing</h3>

In [76]:
imbd_data = pd.read_csv('data/IMBD.csv')
imbd_data

,movie,genre,runtime,certificate,rating,stars,description,votes,director
0,The Witcher,"Action, Adventure, Drama",60 min,A,8.1,"['Henry Cavill, ', 'Freya Allan, ', 'Anya Chal...","Geralt of Rivia, a solitary monster hunter, st...","5,39,085",NaN
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",163 min,UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",Ethan Hunt and his IMF team must track down a ...,"1,06,759",['Christopher McQuarrie']
2,Sound of Freedom,"Action, Biography, Drama",131 min,PG-13,7.9,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...",The incredible true story of a former governme...,"41,808",['Alejandro Monteverde']
3,Secret Invasion,"Action, Adventure, Drama",47 min,UA 16+,6.2,"['Samuel L. Jackson, ', 'Emilia Clarke, ', 'Do...",Fury and Talos try to stop the Skrulls who hav...,"40,536",NaN
4,Special Ops: Lioness,"Action, Drama, Thriller",NaN,NaN,7.5,"['Zoe Saldana, ', 'Laysla De Oliveira, ', 'Dav...",Joe attempts to balance her personal and profe...,"3,203",NaN
...,...,...,...,...,...,...,...,...,...
129886,Chocatos,"Short, Drama, Family",10 min,NaN,NaN,NaN,Add a Plot\n,NaN,['Diego Al Romero']
129887,Song of the Caballero,"Drama, Western",73 min,NaN,NaN,"['Ken Maynard, ', 'Doris Hill, ', 'Francis For...",After El Lobo robs Don Jose he gives one of th...,NaN,['Harry Joe Brown']
129888,The Flaming Forties,Western,60 min,NaN,NaN,"['Harry Carey, ', 'William Bailey, ', 'Jacquel...",A young cowhand befriends a disreputable gambl...,NaN,['Tom Forman']
129889,The Girl and the Sheriff,"Short, Western",NaN,NaN,NaN,"['Betty Keller, ', 'George Field, ', 'Lee Mora...","Bob Warren, sheriff of Grass County, Cal., and...",NaN,['Al Christie']
129890,The End of the Trail,"Short, Western",NaN,NaN,NaN,NaN,"It was only a lovers' quarrel, and had Marion ...",NaN,['Milton J. Fahrney']

In [77]:
imbd_data['certificate'].unique()

array(['A', 'UA', 'PG-13', 'UA 16+', nan, 'R', 'Not Rated', '16+', '18',
       '18+', 'U', 'PG', 'UA 13+', '16', '7', 'U/A', '13', '15+', '12+',
       'U/A 16+', '(Banned)', 'UA 7+', '12', 'All', 'G', 'Unrated',
       'NC-17', 'Approved', 'M/PG', 'GP', '15', '7+', 'U/A 7+', 'TV-14',
       'M', '3+', '13+', 'Passed', 'TV-PG', 'X'], dtype=object)

In [78]:
imbd_data.drop(columns = ['stars', 'runtime', 'description', 'director', 'certificate'], inplace = True)
imbd_data

,movie,genre,rating,votes
0,The Witcher,"Action, Adventure, Drama",8.1,"5,39,085"
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",8.0,"1,06,759"
2,Sound of Freedom,"Action, Biography, Drama",7.9,"41,808"
3,Secret Invasion,"Action, Adventure, Drama",6.2,"40,536"
4,Special Ops: Lioness,"Action, Drama, Thriller",7.5,"3,203"
...,...,...,...,...
129886,Chocatos,"Short, Drama, Family",NaN,NaN
129887,Song of the Caballero,"Drama, Western",NaN,NaN
129888,The Flaming Forties,Western,NaN,NaN
129889,The Girl and the Sheriff,"Short, Western",NaN,NaN
129890,The End of the Trail,"Short, Western",NaN,NaN

In [79]:
imbd_data['genre'].unique()

array(['Action, Adventure, Drama            ',
       'Action, Adventure, Thriller            ',
       'Action, Biography, Drama            ', ...,
       'Western, Short, Music            ',
       'Drama, Western, Musical            ',
       'Sport, Western            '], dtype=object)

In [80]:
imbd_data.columns

Index(['movie', 'genre', 'rating', 'votes'], dtype='object')

In [81]:
imbd_data.isna().any()

movie     False
genre     False
rating     True
votes      True
dtype: bool

In [82]:
imbd_data.dropna(inplace = True)
imbd_data.shape

(114381, 4)

In [83]:
imbd_data.columns

Index(['movie', 'genre', 'rating', 'votes'], dtype='object')

In [84]:
imbd_data.columns = ['name', 'genre', 'rating', 'votes']