In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

<h3>Preprocessing</h3>

In [2]:
imbd_data = pd.read_csv('data/IMBD.csv')
imbd_data

,movie,genre,runtime,certificate,rating,stars,description,votes,director
0,The Witcher,"Action, Adventure, Drama",60 min,A,8.1,"['Henry Cavill, ', 'Freya Allan, ', 'Anya Chal...","Geralt of Rivia, a solitary monster hunter, st...","5,39,085",NaN
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",163 min,UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",Ethan Hunt and his IMF team must track down a ...,"1,06,759",['Christopher McQuarrie']
2,Sound of Freedom,"Action, Biography, Drama",131 min,PG-13,7.9,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...",The incredible true story of a former governme...,"41,808",['Alejandro Monteverde']
3,Secret Invasion,"Action, Adventure, Drama",47 min,UA 16+,6.2,"['Samuel L. Jackson, ', 'Emilia Clarke, ', 'Do...",Fury and Talos try to stop the Skrulls who hav...,"40,536",NaN
4,Special Ops: Lioness,"Action, Drama, Thriller",NaN,NaN,7.5,"['Zoe Saldana, ', 'Laysla De Oliveira, ', 'Dav...",Joe attempts to balance her personal and profe...,"3,203",NaN
...,...,...,...,...,...,...,...,...,...
129886,Chocatos,"Short, Drama, Family",10 min,NaN,NaN,NaN,Add a Plot\n,NaN,['Diego Al Romero']
129887,Song of the Caballero,"Drama, Western",73 min,NaN,NaN,"['Ken Maynard, ', 'Doris Hill, ', 'Francis For...",After El Lobo robs Don Jose he gives one of th...,NaN,['Harry Joe Brown']
129888,The Flaming Forties,Western,60 min,NaN,NaN,"['Harry Carey, ', 'William Bailey, ', 'Jacquel...",A young cowhand befriends a disreputable gambl...,NaN,['Tom Forman']
129889,The Girl and the Sheriff,"Short, Western",NaN,NaN,NaN,"['Betty Keller, ', 'George Field, ', 'Lee Mora...","Bob Warren, sheriff of Grass County, Cal., and...",NaN,['Al Christie']
129890,The End of the Trail,"Short, Western",NaN,NaN,NaN,NaN,"It was only a lovers' quarrel, and had Marion ...",NaN,['Milton J. Fahrney']

In [3]:
imbd_data.drop(columns = ['stars', 'runtime', 'description', 'votes', 'director', 'certificate'], inplace = True)
imbd_data

,movie,genre,rating
0,The Witcher,"Action, Adventure, Drama",8.1
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",8.0
2,Sound of Freedom,"Action, Biography, Drama",7.9
3,Secret Invasion,"Action, Adventure, Drama",6.2
4,Special Ops: Lioness,"Action, Drama, Thriller",7.5
...,...,...,...
129886,Chocatos,"Short, Drama, Family",NaN
129887,Song of the Caballero,"Drama, Western",NaN
129888,The Flaming Forties,Western,NaN
129889,The Girl and the Sheriff,"Short, Western",NaN
129890,The End of the Trail,"Short, Western",NaN

In [4]:
imbd_data.columns

Index(['movie', 'genre', 'rating'], dtype='object')

In [5]:
imbd_data.isna().any()

movie     False
genre     False
rating     True
dtype: bool

In [6]:
imbd_data.dropna(inplace = True)
imbd_data.shape

(114381, 3)

In [7]:
imbd_data.columns

Index(['movie', 'genre', 'rating'], dtype='object')

In [8]:
imbd_data.columns = ['name', 'genre', 'rating']

In [9]:
anime_data = pd.read_csv('data/anime.csv')
anime_data.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [10]:
anime_data.drop(columns = ['episodes', 'members', 'anime_id', 'type'], inplace = True)
anime_data

,name,genre,rating
0,Kimi no Na wa.,"Drama, Romance, School, Supernatural",9.37
1,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",9.26
2,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",9.25
3,Steins;Gate,"Sci-Fi, Thriller",9.17
4,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",9.16
...,...,...,...
12289,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,4.15
12290,Under World,Hentai,4.28
12291,Violence Gekiga David no Hoshi,Hentai,4.88
12292,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,4.98
12293,Yasuji no Pornorama: Yacchimae!!,Hentai,5.46

In [11]:
anime_data.columns

Index(['name', 'genre', 'rating'], dtype='object')

In [12]:
anime_data.shape

(12294, 3)

In [13]:
anime_data.isnull().any()

name      False
genre      True
rating     True
dtype: bool

In [14]:
anime_data.dropna(inplace = True)
anime_data.shape

(12017, 3)

In [15]:
df = pd.concat(objs = [anime_data, imbd_data])
df

,name,genre,rating
0,Kimi no Na wa.,"Drama, Romance, School, Supernatural",9.37
1,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",9.26
2,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",9.25
3,Steins;Gate,"Sci-Fi, Thriller",9.17
4,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",9.16
...,...,...,...
129869,The Goddess of Sagebrush Gulch,"Short, Romance, Western",6.00
129870,Tenderfoot Courage,"Short, Western",6.50
129872,Arizona Manhunt,"Drama, Western",5.60
129875,The Grip of the Yukon,"Action, Adventure, Western",5.20
129879,Zorro'nun intikami,Western,5.50

In [16]:
df.isnull().any()

name      False
genre     False
rating    False
dtype: bool